server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force-response: true

spring:
  datasource:
    driver-class-name: com.scalar.db.sql.jdbc.SqlJdbcDriver
    url: jdbc:scalardb:?scalar.db.sql.connection_mode=cluster&scalar.db.sql.cluster_mode.contact_points=indirect:localhost&scalar.db.sql.default_namespace_name=test
  application:
    name: review-app
  profiles:
    active: local

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,metrics,info
      base-path: /actuator
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}
      environment: ${spring.profiles.active}